/* add fonts */
@font-face {
    font-family: 'lalezar';
    src: url('../assets/fonts/Lalezar.ttf');
}
@font-face {
    font-family: 'yekan';
    src: url('../assets/fonts/Yekan.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}