/* add fonts */
@font-face {
    font-family: 'lalezar';
    src: url('../assets/fonts/Lalezar.ttf');
}
@font-face {
    font-family: 'yekan';
    src: url('../assets/fonts/Yekan.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    font-family: yekan;
    background: #141313;
    color: rgb(235, 234, 234);
}

.container{
    margin: 0 auto;
    max-width: 1200px;
}

/* header */
.header{
    background-color: orange;
}
.header nav{
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: 'lalezar';
    padding: 10px 0;
}
.hero-img{
    background: #141313;
    display: flex;
    justify-content: center;
    padding: 20px 0 10px;
}
.hero-img img{
    max-width: 100%;
}